<!DOCTYPE html>
<html>
	{% load static %}
	{% load bootstrap5 %}
	{% bootstrap_css %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	    <link rel="shortcut icon" href="{% static 'image/logo.PNG' %}" type="image/png">
		<title>GestionFAI</title>
	</head>
	{% block body %}
	<body style="background-color: #F1F1F1;">
	{% endblock %}
	 	<!-- Debut Entête -->
				<div class="orange fixed-top" style="padding: 29px;"><br></div>
				<nav class="navbar navbar-expand-lg navbar-dark bg fixed-top" aria-label="Third navbar example">
			    	<div class="container-fluid">
			    		<a class="navbar-brand" href="#"><img src={% static 'image/logo.PNG' %} id="logo">
						</a>
			    		<button class="navbar-toggler cacher" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			    			<span class="navbar-toggler-icon"></span>
							</button>

			    		<div class="collapse navbar-collapse" id="navbarsExample03">
			    	    	<ul class="navbar-nav me-auto mb-2 mb-sm-0 ">
								<li class="nav-item">
									<a class="nav-link a" aria-current="page" href="{% url 'index' %}">Acceuil</a>
			    	      		</li>
			    	      		<li class="nav-item">
			    	        		<a class="nav-link a" href="{% url 'historique'%}">Historique</a>
			    	      		</li>
			    	      		<li class="nav-item">
			    	        		<a class="nav-link a" href="{% url 'clientsAll'%}">Clients</a>
			    	      		</li>		    	      		
			    	      		<li class="nav-item">
			    	        		<a class="nav-link a" href="{% url 'techniqueAll'%}">Technique</a>
			    	      		</li>
	<!-- 		    	      		<li class="nav-item">
			    	        		<a class="nav-link" href="{% url 'statistique'%}">Statistique</a>
			    	      		</li> -->
							</ul>
							<div style="display: flex; width: 55%;font-size: 100%;" >
							{% block recherche %}
							{% endblock %}
							</div>	
							<form>		
				    	     		<button class="btn" style="background-color: #F08D00;" type="submit"><a href="{% url 'index' %}admin">Connectez-vous</a></button>
			    	     	</form>
						</div>
					</div>
			  	</nav>
		<!-- Fin Entête -->
	    {% block navbar %}
			{% include './header.html' %}
	    {% endblock %}

	    {% block content %}
	    {% endblock %}

		{% block footer%}
	        {% include './footer.html' %}
		{% endblock %}
	</body>	
	{% bootstrap_javascript %}
	<script type="text/javascript" src={% static 'js/pageactiv.js' %}></script>
</html>