{% extends './base.html' %}
{% load static %}
{% block body %}
{% endblock %}
{% block content %}
 <style>

   </style>
   <br>
	<div class="voir" style="margin-right: 15px; margin-left: 15px;">
   	<img src={% static 'image/logo.PNG' %} id="logo">
		<table class="table table-striped">
		  <thead class="thead-light">
		    <tr>
		      <th scope="col" class=" centre">N°</th>
		      <th scope="col" class="centre">Clients</th>
		      <th scope="col" class="centre">Localisation</th>
		      <th scope="col" class="centre">Visites</th>
		      <th scope="col" class="centre">Installations</th>
		      <th scope="col" class="centre">Dépannages</th>
		      <th scope="col" class="centre">Retraits</th>
		      <th scope="col" class="centre">Routeurs</th>
		      <th scope="col" class="centre">Antennes</th>
		    </tr>
		  </thead>
		  <tbody>
		  {% for client in clients %}
		    <tr>
		      <td class="centre"> {{client.user.pk}} </td>
		      <td class="centre">{{client.user.first_name}} {{client.user.last_name}}</td>
		      <td class="centre">cordonnée <hr> non loin de la pharmacie Abby</td>
		      <td class="centre">
		      	{{client.visites.0.date}}
		      	<hr>
		      	{% for employe in client.visites.0.employe.all %}
		      		{{ employe.first_name }} {{ employe.last_name}} <br><br>
		   			{% endfor %}
		      </td>
		      <td class="centre">
		      	{{client.installations.0.date}}
		      	<hr>
		      	{% for employe in client.installations.0.employe.all %}
		      		{{ employe.first_name }} {{ employe.last_name}} <br><br>
		   			{% endfor %}
		      </td>
		      <td class="centre">
		      	{{client.depannages.0.date}}
		      	<hr>
		      	{% for employe in client.depannages.0.employe.all %}
		      		{{ employe.first_name }} {{ employe.last_name}} <br><br>
		   			{% endfor %}
		      </td>
		      <td class="centre">
		      	{{client.retraits.0.date}}
		      	<hr>
		      	{% for employe in client.retraits.0.employe.all %}
		      		{{ employe.first_name }} {{ employe.last_name}} <br><br>
		   			{% endfor %}
		      </td>		      
		      <td class="centre">8564165418964</td>
		      <td class="centre">4861531681535br</td>
		    </tr>
		   {% endfor %}
		 </tbody>
		</table>
</div>
{% include './impression.html'%}
{% endblock %}