{% extends './base.html' %}
{% load static %}
{% block recherche %}

  <a href="{% url 'clients'%}" style="background-color: #E2E4E4;text-decoration: none;color: black; padding:0.4%;margin-left: 15% ;">
  Rechercher
  </a>
{% endblock %}
{% block body %}
{% endblock %}
{% block content %}
 <style>

   </style>
   <br>
	<div class="voir" style="margin-right: 15px; margin-left: 15px;">
   	<img src={% static 'image/logo.PNG' %} id="logo">
		<table class="table table-striped">
		  <thead class="thead-light">
		    <tr>
		      <th scope="col" class=" centre">N°</th>
		      <th scope="col" class="centre">Clients</th>
		      <th scope="col" class="centre">Localisation</th>
		      <th scope="col" class="centre"> Visites </th>
		      <th scope="col" class="centre">Installations</th>
		      <th scope="col" class="centre">Dépannages</th>
		      <th scope="col" class="centre">Retraits</th>
		      <th scope="col" class="centre">Matériels</th>
		    </tr>
		  </thead>
		  <tbody>
		  {% for client in clients %}
		    <tr>
		      <td class="centre"> {{client.user.pk}} </td>
		      <td class="centre">{{client.user.first_name}} <br>{{client.user.last_name}}<br><br> Tèl : {{ client.user.phone_number }}</td>
		      <td class="centre">cordonnée <hr> non loin de la pharmacie Abby</td>
		      <td class="centre">
		      	{% for visite in client.visites %}
		      	{{visite.date|date:"d/M/y"}}
		      	<hr>
		      		{% for employe in visite.employe.all %}
		      			{{ employe.first_name }}<br>{{ employe.last_name}} <br><br>
		   				{% endfor %}
		   			{% endfor %}
		      </td>
		      <td class="centre">
		      	{% for installation in client.installations %}
		      	{{installation.date|date:"d/M/y"}}
		      	<hr>
		      		{% for employe in installation.employe.all %}
		      			{{ employe.first_name }}<br>{{ employe.last_name}} <br><br>
		   				{% endfor %}
		   			{% endfor %}
		      </td>
		      <td class="centre">
		      	{% for depannage in client.depannages %}
		      		{% if client.depannages.0 != depannage%}
								<hr>
							{% endif%}
		      	{{depannage.date|date:"d/M/y"}}
		      	<hr>
		      		{% for employe in depannage.employe.all %}
		      			{{ employe.first_name }}<br>{{ employe.last_name}} <br><br>
		   				{% endfor %}
		   			{% endfor %}
		      </td>
		      <td class="centre">
		      	{% for retrait in client.retraits %}
		      	{{retrait.date|date:"d/M/y"}}
		      	<hr>
		      		{% for employe in retrait.employe.all %}
		      			{{ employe.first_name }}<br>{{ employe.last_name}} <br><br>
		   				{% endfor %}
		   			{% endfor %}
		      </td>	  
		      <td class="centre">
		      	{% for routeur in client.routeurs %}
		      		Routeurs :
		      		{{ routeur.nom }} <hr>{{ routeur.num_serie}} 
		      		{% if client.routeurs.0 != routeur%}
								<hr>
							{% endif%}
							<hr>	<hr>	
		   			{% endfor %}
		      	{% for antenne in client.antennes %}
		      		Antennes :
			      	{{ antenne.nom }} <hr>{{ antenne.num_serie}} 
		      		{% if client.antennes.0 != antenne%}
								<hr><hr>
							{% endif%}
		   			{% endfor %}
		      </td>	      
		    </tr>
		   {% endfor %}
		 </tbody>
		</table>
</div>
{% include './impression.html'%}
{% endblock %}