{% extends './base.html' %}
{% load static %}
    {% block recherche %}

      <a href="{% url 'historique'%}" style="background-color: #E2E4E4;text-decoration: none;color: black; padding:0.4%;margin-left: 15% ;">
      Rechercher
      </a>
      <a href="{% url 'index'%}info/0" style="background-color: #E2E4E4;text-decoration: none;color: black; padding:0.4%;margin-left: 15% ;">
      Employe
      </a>
    {% endblock %}
    {% block content %}
    <style type="text/css">
      a{
        text-decoration: none;
        color: black;
      }
    </style>
        <!-- py-5 : marge -->
        <br>
        <div class="voir">
          <img src={% static 'image/logo.PNG' %} id="logo">
          <br><br>
          <div>
            <div class="row g-3" style="margin-left: 3px ;">
              <div id="v">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="50" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#060452"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Visites de site<span class="badge bleu">{{nbr_visite}}</span></text></svg>
                  <div class="card-body">
                    <table class="table table-hover ">
                      <thead>
                        <tr>
                          <th scope="col" class="col-1 centre">Dates</th>
                          <th scope="col" class="col-1 centre">Heures</th>
                          <th scope="col" class="col-2 centre">Clients</th>
                          <th scope="col" class="col-1 centre">Possible</th>
                          <th scope="col" class="col-2 centre">Intervenants</th>
                          <th scope="col" class="centre">Commentaires</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for visite in visites %}
                        <tr>
                          <th class="centre">{{ visite.date }}</th>
                          <th class="centre">{{ visite.heure }}</th>
                          <td class="centre">{{ visite.client.first_name | title  }} {{ visite.client.last_name |upper }}</td>
                          <td class="centre">{{ visite.possible }}</td>
                          <td class="centre">
                            {% for employe in visite.employe.all %} 
                                {{ employe.first_name | title  }} {{ employe.last_name |upper}} <br><br>
                            {%  endfor %}
                          </td>
                          <td>{{ visite.comment }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="i">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="50" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#008523"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Installations<span class="badge vert">{{nbr_installation}} </span></text></svg>
                  <div class="card-body">
                    <table class="table table-hover ">
                      <thead>
                        <tr>
                          <th scope="col" class="col-1 centre">Dates</th>
                          <th scope="col" class="col-1 centre">Heures</th>
                          <th scope="col" class="col-2 centre">Clients</th>
                          <th scope="col" class="col-1 centre">Fonctionnels</th>
                          <th scope="col" class="col-2 centre">Intervenants</th>
                          <th scope="col" class="centre">Commentaires</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for installation in installations %}
                        <tr>
                          <th class="centre">{{ installation.date }}</th>
                          <th class="centre">{{ installation.heure }}</th>
                          <td class="centre">{{ installation.client.first_name | title  }} {{ installation.client.last_name |upper }}</td>
                          <td class="centre">{{ installation.etat }}</td>
                          <td class="centre">
                            {% for employe in installation.employe.all %} 
                                {{ employe.first_name | title  }} {{ employe.last_name |upper}} <br><br>
                            {%  endfor %}
                          </td>
                          <td>{{ installation.comment }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="d">
                <div class="card shadow-sm" >
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="50" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="orange"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Dépannages<span class="badge orange">{{nbr_depannage}} </span></text></svg>
                  <div class="card-body">
                    <table class="table table-hover ">
                      <thead>
                        <tr>
                          <th scope="col" class="col-1 centre">Dates</th>
                          <th scope="col" class="col-1 centre">Heures</th>
                          <th scope="col" class="col-2 centre">Clients</th>
                          <th scope="col" class="col-1 centre">Fonctionnels</th>
                          <th scope="col" class="col-2 centre">Intervenants</th>
                          <th scope="col" class="centre">Commentaires</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for depannage in depannages %}
                        <tr>
                          <th class="centre">{{ depannage.date }}</th>
                          <th class="centre">{{ depannage.heure }}</th>
                          <td class="centre">{{ depannage.client.first_name | title }} {{ depannage.client.last_name |upper}}</td>
                          <td class="centre">{{ depannage.etat }}</td>
                          <td class="centre">
                            {% for employe in depannage.employe.all %} 
                                {{ employe.first_name | title  }} {{ employe.last_name |upper}} <br><br>
                            {%  endfor %}
                          </td>
                          <td>{{ depannage.comment }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="r">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="50" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Retraits<span class="badge rouge">{{nbr_retrait}}</span></text></svg>
                  <div class="card-body">
                    <table class="table table-hover ">
                      <thead>
                        <tr>
                          <th scope="col" class="col-1 centre">Dates</th>
                          <th scope="col" class="col-1 centre">Heures</th>
                          <th scope="col" class="col-2 centre">Clients</th>
                          <th scope="col" class="col-1 centre">Reste</th>
                          <th scope="col" class="col-2 centre">Intervenants</th>
                          <th scope="col" class="centre">Commentaires</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for retrait in retraits %}
                        <tr>
                          <th class="centre">{{ retrait.date }}</th>
                          <th class="centre">{{ retrait.heure }}</th>
                          <td class="centre">{{ retrait.client.first_name | title  }} {{ retrait.client.last_name |upper }}</td>
                          <td class="centre">{{ retrait.reste }}</td>
                          <td class="centre">
                            {% for employe in retrait.employe.all %} 
                                {{ employe.first_name | title  }} {{ employe.last_name |upper}} <br><br>
                            {%  endfor %}
                          </td>
                          <td>{{ retrait.comment }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include './impression.html'%}
    {% endblock %}>

