{% extends './base.html' %}
{% load static %}
	{% block content %}
        <br><br><br><br>
        <!-- Début carousel -->
<!--         <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <img src={% static 'image/equipe.jpg' %}>

              <div class="container">
                <div class="carousel-caption">
                  <h1>Solidarité</h1>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <img src={% static 'image/equipe.jpg' %}>

              <div class="container">
                <div class="carousel-caption">
                  <h1>Solidarité</h1>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <img src={% static 'image/equipe.jpg' %}>

              <div class="container">
                <div class="carousel-caption">
                  <h1>Solidarité</h1>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- Fin carousel --> 

        <!-- Début équique -->
      <div class="container team">
        <!-- Three columns of text below the carousel -->
        <h1 class="titre">Equipe</h1>
        <hr>
        <div class="row " ><!-- style="justify-content: center;" -->
        {% for user in users %}
          {% if user.job == 'DG' %}
          <div class="col-lg-4 col-sm-12 col-12">
            <img src= {% if user.profil %} {{user.profil.url}} {% else %} {% static 'image/perso.png' %} {% endif %} alt="" class="profil">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Dicteur Général</p>
            {% if user.leave == False %}
            <div class="nombre">
              <p class="bleu whiteT number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% else %}
            <div class="nombre">
              <p class="orange number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
        {% for user in users %}
          {% if user.job == 'DAF' %}
          <div class="col-lg-4 col-sm-6 col-12"> 
            <img src={% if user.profil %} {{user.profil.url}} {% else %} {% static 'image/perso.png' %} {% endif %} class="profil">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Directeur Administratif et Financier</p>
            {% if user.leave == False %}
            <div class="nombre">
              <p class="bleu whiteT number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% else %}
            <div class="nombre">
              <p class="orange number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% endif %}
          </div>
          {% endif %}
          {% if user.job == 'DT' %}
          <div class="col-lg-4 col-sm-6 col-12"> 
            <img src={% if user.profil %} {{user.profil.url}} {% else %} {% static 'image/perso.png' %} {% endif %} alt="" class="profil">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Directeur Technique</p>
            {% if user.leave == False %}
            <div class="nombre">
              <p class="bleu whiteT number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% else %}
            <div class="nombre">
              <p class="orange number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %} 
          <h2 id="title"><br>Département Technique</h2>
          <hr>
        {% for user in users %}
          {% if user.job == 'Ingénieur' %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-6"> 
            <a href="info/{{user.id}}">
              <img src={% if user.profil %} {{user.profil.url}} {% else %} {% static 'image/perso.png' %} {% endif %} alt="" class="profil1">
            </a>
            <h2 class="respon">{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Ingénieur</p>
            {% if user.leave == False %}
            <div class="nombre">
              <p class="bleu whiteT number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% else %}
            <div class="nombre">
              <p class="orange number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}  
        {% for user in users %}
          {% if user.job == 'Technicien' %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-6"> 
            <a href="info/{{user.id}}">
              <img src={% if user.profil %} {{user.profil.url}} {% else %} {% static 'image/perso.png' %} {% endif %} alt="" class="profil1">
            </a>
            <h2 class="respon">{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Technicien</p>
            {% if user.leave == False %}
            <div class="nombre">
              <p class="bleu whiteT number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% else %}
            <div class="nombre">
              <p class="orange number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}  
        <br>
<!--         <h2 id="title">Département Commerciale</h2>
        <hr>
        {% for user in users %}
          {% if user.job == 'Commercial' %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-6"> 
            <a href="info/{{user.id}}">
              <img src={% static 'image/perso.png' %} alt="" class="profil1">
            </a>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Commercial</p>
            {% if user.leave == False %}
            <div class="nombre">
              <p class="bleu whiteT number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% else %}
            <div class="nombre">
              <p class="orange number">(226) {{ user.phone_number}}</a></p>
            </div>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}  
 -->    </div><!-- /.row -->
      </div>
    {% endblock %}
</body>
