{% extends './base.html' %}
{% load static %}
    {% block recherche %}
      <form method="POST">
        {% csrf_token %}
          {{form}}
        <input type="submit" value="Chercher">
      </form>
    {% endblock %}
    {% block content %}
    <style type="text/css">
      img{
        max-width: 95%;
        text-align: center;
      }
      .liste{
        font-weight: 600;
      }
    </style>
        <br><br><br><br>
            <div class="container team">
                <div class="row"></div>
                    <div class="col ajust"> 
                        <img src={% static 'image/perso.png' %}  alt="" class="profil2">
                      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- py-5 : marge -->
            <div class="album  gris">
              <div>

                <div class="row g-3" style="margin-left: 3px ;">
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#060452"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Visites de site<span class="badge bleu">{{nbr_visite}}</span></text></svg>
                      <div class="card-body">
                      {% for visite in visites %}
                        <p class="nomClient"><span class="badge bleu">{{ visite.heure }}</span>{{ visite.client.first_name }} {{ visite.client.last_name }}</p>
                        <p class="card-text">{{ visite.comment }}</p>
                        <hr>
                      {% endfor %}
                        <a href="{% url 'historique'%}#v"><button type="button" class="btn btn-sm btn-outline-secondary">Voir</button></a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#008523"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Installations<span class="badge vert">{{nbr_installation}}</span></text></svg>
                      <div class="card-body">
                      {% for installation in installations %}
                        <p class="nomClient"><span class="badge vert">{{ installation.heure }}</span>{{ installation.client.first_name }} {{ installation.client.last_name }}</p>
                          {% if installation.comment %}
                          <hr>
                          <p class="liste">Commentaires</p>
                          {{ installation.comment }}
                          {% endif %}
                          {% if installation.caractéristique%}
                          <hr>
                          <p class="liste">Caractéristiques</p>
                            <img src={{installation.caractéristique.url}}>
                          {% endif %}
                          {% if installation.mat %}
                          <hr>
                          <p class="liste">Matériels</p>
                            <img src={{installation.mat.url}}>
                          {% endif %}
                        <hr>
                      {% endfor %}
                        <a href="{% url 'historique'%}#i"><button type="button" class="btn btn-sm btn-outline-secondary">Voir</button></a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="orange"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Dépannages<span class="badge orange">{{nbr_depannage}}</span></text></svg>
                      <div class="card-body">
                      {% for depannage in depannages %}
                        <p class="nomClient"><span class="badge orange">{{ depannage.heure }}</span> {{ depannage.client.first_name}} {{ depannage.client.last_name}}</p>
                          {% if depannage.comment %}
                          <hr>
                          <p class="liste">Commentaires</p>
                          {{ depannage.comment }}
                          {% endif %}
                          {% if depannage.caractéristique.url %}
                          <hr>
                          <p class="liste">Caractéristiques</p>
                            <img src={{depannage.caractéristique.url}}>
                          {% endif %}
                          {% if depannage.mat.url %}
                          <hr>
                          <p class="liste">Matériels</p>
                            <img src={{depannage.mat.url}}>
                          {% endif %}
                        <hr>
                      {% endfor %}
                         <a href="{% url 'historique'%}#d"><button type="button" class="btn btn-sm btn-outline-secondary">Voir</button></a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Retraits<span class="badge rouge">{{nbr_retrait}}</span></text></svg>
                      <div class="card-body">
                      {% for retrait in retraits %}
                      <p class="nomClient"><span class="badge orange">{{ retrait.heure }}</span> {{ retrait.client.first_name}} {{ retrait.client.last_name}}</p>
                      <p class="card-text">{{ retrait.comment }}</p>
                        <hr>
                      {% endfor %}
                        <a href="{% url 'historique'%}#r"><button type="button" class="btn btn-sm btn-outline-secondary">Voir</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    {% endblock %}>
