{% extends './base.html' %}
{% block recherche %}
<form method="POST">
  {% csrf_token %}
    {{form}}
  <input type="submit" value="Chercher">
</form>
  <a href="{% url 'techniqueAll'%}" style="background-color: #E2E4E4;text-decoration: none;color: black; padding:0.4%;margin-left: 5px ;">
  Tout Afficher
  </a>
{% endblock %}
{% load static %}
{% block body %}
{% endblock %}
{% block content %}
   <br>
	<div class="voir" style="margin-right: 15px;margin-left: 15px;">
   	<img src={% static 'image/logo.PNG' %} id="logo">
		<table class="table table-striped">
		  <thead>
		    <tr>
	      <th scope="col" class="centre">N°</th>
	      <th scope="col" class="centre">Noms</th>
	      <th scope="col" class="centre">Prénoms</th>
	      <th scope="col" class="centre">Visites</th>
	      <th scope="col" class="centre">Dépannés / Installations</th>
	      <th scope="col" class="centre">Dépannages</th>
	      <th scope="col" class="centre">Retraits</th>
	      <th scope="col" class="centre">Congé(jours)</th>
		    </tr>
		  </thead>
		  <tbody>
		  {% for employe in employes %}
		    <tr>
		      <td class="centre">{{employe.pk}}</td>
		      <td class="centre">{{employe.user.last_name |upper}}</td>
		      <td class="centre">{{employe.user.first_name | title }}</td>
		      <td class="centre">{{employe.nbr_visite}}</td>
		      <td class="centre">{{employe.panne}} / {{employe.nbr_installation}}</td>
		      <td class="centre">{{employe.nbr_depannage}}</td>
		      <td class="centre">{{employe.nbr_retrait}}</td>
		      <td class="centre">{{employe.jours}}</td>
		    </tr>
		   {% endfor %}
		 </tbody>
		</table>
</div>
{% include './impression.html'%}
{% endblock %}