[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
gunicorn = "*"
django = "*"
psycopg2 = "==2.9.4"
tzdata = "*"
django-bootstrap-v5 = "*"
dj-database-url = "*"
django-jazzmin = "*"
pillow = "*"
gps3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
